@font-face {
    font-family: 'Soul Daisy';
    src: url('../fonts/soul-daisy.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}

body {
    font-family: 'Soul Daisy', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;


}

html,
body {
    overflow-x: hidden;
}



.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation:
        typing 3.5s steps(30, end) forwards 0.01s,
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    100% {
        width: 11ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.title h3 {
    color: rgb(138, 138, 138);
}

a {
    text-decoration: none;
}