@font-face {
    font-family: 'Soul Daisy';
    src: url('../fonts/soul-daisy.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}

body {
    font-family: 'Soul Daisy', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;


}

html,
body {
    overflow-x: hidden;
}


.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation:
        typing 3.5s steps(30, end) forwards,
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.title h3 {
    color: rgb(138, 138, 138);
}




.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
}

.project-detail {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;

    cursor: pointer;
    color: #333;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;


}

.project-detail::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease;
}

.project-detail:hover {
    color: #2c3e50;
}

.project-detail:hover::after {
    width: 100%;
}

.project-detail img {
    width: 200px;
    flex-shrink: 0;
    border-radius: 25px;
}

.content {
    flex-grow: 1;
    font-size: 15px;
}

a {
    text-decoration: none;
}