@font-face {
    font-family: 'Soul Daisy';
    src: url('../fonts/soul-daisy.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;

}

body {
    font-family: 'Soul Daisy', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;


}

html,
body {
    overflow-x: hidden;
}



.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation:
        typing 3.5s steps(30, end) forwards 0.01s,
        blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
        visibility: hidden;
    }

    1% {
        visibility: visible;
    }

    100% {
        width: 6ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.title h3 {
    color: rgb(138, 138, 138);
}


a {
    text-decoration: none;
}




.list-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;

}

.link {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;

    cursor: pointer;
    color: #333;
    position: relative;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;

    padding: 5px;
    border: 2px solid #333;
    border-radius: 20px;

}

.link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease;
}

.link:hover {
    color: #2c3e50;

}

.link:hover::after {
    width: 100%;
}

.link img {
    width: 100px;
    flex-shrink: 0;
    border-radius: 25px;
}


.link i {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    width: 100px;
    height: 100px;              
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #333;  
    color: white;             
    font-size: 3rem;           
}




.link h3 {
    color: #0757ba;
    text-align: center;
}


.info-link {
    flex-grow: 1;
    font-size: 15px;
}


@media (max-width: 768px) {


    .list-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        gap: 25px;
        padding: 0 40px;

    }

    .link img {
        width: 30%;
        flex-shrink: 0;
        border-radius: 25px;
    }

    .link i {
    display: flex;              
    justify-content: center;    
    align-items: center;        
    width: 50px;
    height: 50px;              
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #333;  
    color: white;             
    font-size: 1.5rem;           
    }



    .link {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        cursor: pointer;
        color: #333;
        position: relative;
        font-size: 1.2em;
        text-align: justify;
        font-weight: bold;
        transition: color 0.3s ease;


        padding: 5px;
        border: 2px solid #333;
        border-radius: 20px;

    }

    .link a {
        display: block;
        border-bottom: 2px solid #f39c12;
        padding-bottom: 20px;
        text-decoration: none;
    }
    

    .link a:last-child {
        border-bottom: none;
    }



}